{% extends "layout.html" %}
{% block title %}Calendar{% endblock %}
{% block body %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/calendar">Calendar <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Calendar</h1>



        <form class="form-signin" method="POST" role="form" action="/uber/request">
          <h2 class="form-signin-heading">Please Enter Address</h2>
          <label for="address" class="sr-only">Address</label>
          <input type="address" name = "address" id="address" class="form-control" placeholder="Address" required autofocus>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Order Uber</button>
        </form>

          <br />
          {% if ordered %}       
            <h1>Uber Ordered to {{ address }}</h1>     
            <a href = "/uber/cancel">Cancel Uber</a>
          {% else %}
            <h1>Not ordered yet!</h1>
          {% endif %}

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Start</th>
                  <th>Finish</th>
                  <th>Location</th>
                  <th>Description</th>
                  <th>Uber required?</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>23/11/2014 9am</td>
                  <td>23/11/2014 9pm</td>
                  <td>425 2nd St #100, San Francisco, CA 94107 USA</td>
                  <td>Startup Weekend</td>
                  <td>No</td>
                </tr>
                <tr class="success">
                  <td>22/11/2014 9pm</td>
                  <td>23/11/2014 8am</td>
                  <td>85 5th St, San Francisco, CA 94103, United States</td>
                  <td>Pickwick Hotel - Sleep</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>24/11/2014 12pm</td>
                  <td>24/11/2014 1pm</td>
                  <td>Starbucks</td>
                  <td>Coffee</td>
                  <td>No</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

{% endblock %}