{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block body %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
    <div class="container">

      <form class="form-signin" method="POST" role="form">
        <h2 class="form-signin-heading">Join done.</h2>
        {{form.hidden_tag()}}
        <div>{{ form.name.label }}: {{ form.name(class="form-control") }}</div>
        {% if form.name.errors %}
        <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <div>{{ form.email.label }}: {{ form.email(class="form-control") }}</div>
        {% if form.email.errors %}
        <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <div>{{ form.password.label }}: {{ form.password(class="form-control") }}</div>
        {% if form.password.errors %}
        <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <div>{{ form.confirm.label }}: {{ form.confirm(class="form-control") }}</div>
        {% if form.confirm.errors %}
        <ul class="errors">{% for error in form.confirm.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <!-- <a href="/preferences" class="btn btn-lg btn-default">Register</a> -->
      </form>

    </div> <!-- /container -->

<!-- 
  <form action="" method=post class="form-horizontal">
    <h2>Join the Done community.</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="name" name="name" class="input-xlarge"
            placeholder="Your Name" value="{{ request.form.name }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Your Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Your Email" value="{{ request.form.email }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form> -->
{% endblock %}