{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block body %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
    <div class="container">

      <form class="form-signin" method="POST" role="form">
        <h2 class="form-signin-heading">Join done.</h2>
        {{form.hidden_tag()}}
        <div>{{ form.name.label }}: {{ form.name(class="form-control") }}</div>
        {% if form.name.errors %}
        <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <div>{{ form.email.label }}: {{ form.email(class="form-control") }}</div>
        {% if form.email.errors %}
        <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <div>{{ form.password.label }}: {{ form.password(class="form-control") }}</div>
        {% if form.password.errors %}
        <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <div>{{ form.confirm.label }}: {{ form.confirm(class="form-control") }}</div>
        {% if form.confirm.errors %}
        <ul class="errors">{% for error in form.confirm.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <!-- <a href="/preferences" class="btn btn-lg btn-default">Register</a> -->
      </form>

    </div> <!-- /container -->
{% endblock %}