{% extends "layout.html" %}
{% block title %}Calendar{% endblock %}
{% block body %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/calendar">Calendar</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Preferences</h1>

          <h3 class="sub-header">Me</h3>
          Logged in as Reinard van der Leij

          <h3 class="sub-header">Google Calendar Account</h3>
          Google Calendar information here.

          <h3 class="sub-header">Uber Account</h3>
          Uber account information here.

          <h3 class="sub-header">Notification preferences</h3>

        </div>
      </div>
    </div>

{% endblock %}