{% extends "layout.html" %}
{% block title %}Calendar{% endblock %}
{% block body %}
<style>

#google:hover {
  background-image: url('images/Red-signin-Google-hover-32dp.png');  
}

  
</style>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/calendar">Calendar</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Preferences</h1>

          <h3 class="sub-header">Me</h3>
          Logged in as Reinard van der Leij




          <h3 class="sub-header">Google Calendar Account</h3>
          Google Calendar information here.
          <div class="control-group">
              <div class="controls google">
                <a href = "/auth/authorize/google"><img  src="{{ url_for('static', filename='img/Red-signin-Google-base-32dp.png') }}"  id ="google" onmouseover="this.src='{{ url_for('static', filename='img/Red-signin-Google-hover-32dp.png') }}';" onmouseout="this.src='{{ url_for('static', filename='img/Red-signin-Google-press-32dp.png') }}';" ></a>
              </div>
              {% if google %}
                <h1>Authenticated with Google!                 
                <img width="30px" src="{{ url_for('static', filename='img/greentick.svg') }}"  id ="google" ></h1>
              {% else %}
                <h1>Unauthenticated!</h1>
              {% endif %}
          </div>

          <h3 class="sub-header">Uber Account</h3>
          Uber account information here.
          <div class="control-group">
              <div class="controls uber">
                <a href = "/auth/authorize/uber"><img width="100%" src="{{ url_for('static', filename='img/UBER_API_Button_2x_Grey_hard edge.png') }}" id = "uber" ></a>
              </div>
                {% if uber %}
                <h1>Authenticated with Uber!                 
                <img width="30px" src="{{ url_for('static', filename='img/greentick.svg') }}"  id ="google" ></h1>
              {% else %}
                <h1>Unauthenticated!</h1>
              {% endif %}
          </div>

          <h3 class="sub-header">Notification preferences</h3>

        </div>
      </div>
    </div>






{% endblock %}